@import "~office-ui-fabric-react/dist/sass/References.scss";

form {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & + .row {
      margin-top: 16px;
    }
  }

  .title {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .title + & {
    margin-bottom: 50px;
  }

  .flex1 {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      margin-bottom: 5px;
      font-size: 18px;
    }
  }

  select {
    height: 30px;
    margin-right: 14px;
    font-size: 14px;
  }
}

.rowBtnPesquisar {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.rowBtnExportar {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
}

button {
  height: 30px;
  width: 150px;
  border: 5px;
  border-radius: 5px;
  background: #004691;

  font-size: 18px;
  color: #fff;
}

.gridResultado {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto max-content max-content max-content;
  border: 0.5px solid #aca9bb;

  div {
    height: 30px;
    border: 0.5px solid #aca9bb;
  }

  .gridResultadoHead {
    background: #e6e6fa;
    display: flex;
    flex-direction: column-reverse;

    span {
      font-weight: bold;
    }
  }

  .gridResultadoItem {
    min-width: 150px;
    display: flex;
    flex-direction: column-reverse;
  }

  .fieldBtnClose {
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 8px;

    .btnClose {
      color: red;
      cursor: pointer;

      &:hover {
        transform: translateX(3px);
        transition-duration: 0.5s;
      }
    }
  }

  span {
    padding: 0 0 5px 5px;
  }
}

.fileUpload {
  margin: 0;
  position: relative;
  flex: 1;

  input {
    position: absolute;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
}

.buttonUpload {
  background: #f2f6ff;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: black;
  flex: 1;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}
