@import "~office-ui-fabric-react/dist/sass/References.scss";

form {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .flex1 {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      margin-bottom: 5px;
    }
  }

  input {
    height: 25px;
    padding-right: 14px;
  }
}

.rowBtnPesquisar {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.rowBtnExportar {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
}

button {
  height: 30px;
  width: 150px;
  border: 5px;
  border-radius: 5px;
  background: #004691;

  font-size: 18px;
  color: #fff;
}

.gridResultado {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto max-content max-content max-content;
  border: 0.5px solid #aca9bb;

  div {
    height: 30px;
    border: 0.5px solid #aca9bb;
  }

  .gridResultadoHead {
    background: #e6e6fa;
    display: flex;
    flex-direction: column-reverse;

    span {
      font-weight: bold;
    }
  }

  .gridResultadoItem {
    min-width: 150px;
    display: flex;
    flex-direction: column-reverse;
  }

  .fieldBtnClose {
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    padding: 0 0 5px 5px;
  }
}
